<h2>Samples: Mvc5 Basic Integration</h2>

<table id="myTable"></table>

<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            serverSide: true,
            ajax: {
                "url": "/home/pagedata",
                "data": function (data) {
                    data.param1 = "First parameter";
                    data.param2 = 2017
                },
                "dataSrc": function(json) {
                    console.log(json.rParam1);
                    console.log(json.rParam2);
                    return json.data;
                }
            },
            columns: [
                {
                    name: 'id',
                    data: 'id',
                    title: "Id",
                    sortable: false,
                    searchable: false
                },
                {
                    name: 'name',
                    data: "name",
                    title: "Name",
                    sortable: false,
                    searchable: false
                }
            ]
        });
    });
</script>
